{{!-- // STEP 15 = > step 16 inserisco 2 h1 nei file in vews => STEP 17 torno in routes/index  --}}
{{!-- // e sostituisco res.send ('Login') con res.render('login') per accedere alle pagine di view engine --}}

<h3><i class="fas fa-book-reader"></i>Storybooks</h3>
<div class="section">
    <p class ="lead">Create public and private stories from your life</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> Login WIth Google
    </a>

</div>