{{!-- STEP 50 creo la view del errore 404 => STEP 51 nel file 500.hbs creo la view dell-errore 500 --}}

<h1>404 Not Found</h1>
<p>We're sorry, this resource is not found</p>
<a href="/dashboard" class="btn">Go to Dashboard</a>