{{!-- STEP 51 creo la view del errore 500 => STEP 52 renderizzo in Routes/index js l'errore--}}

<h1>Error 500 - Server Error</h1>
<p>We're sorry, something went wrong</p>
<a href="/dashboard" class="btn">Go to Dashboard</a>